<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page D</title>
</head>
<body style="margin: auto; width:30%;  padding:20px">
    <h2>Cache Configuration</h2>
    <p>Space Available is <span>2.3</span> G</p>
    <form action="#" style="margin-bottom: 15px">
        <label for="select"></label>
        <input type="radio" name="select" id="randomReplacement" > Random Replacement
        <input type="radio" name="select" id="leastRecentlyUsed"> Least Recently Used
    </form>
    <button style="margin: 8px">clear</button> <br>
    <a href="/"><button style="margin: 8px" >Home Page </button></a>
    
</body>
</html>