<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page D</title>
</head>
<body style="margin: auto; width:30%;  padding:20px">
    <h2>Cache Configuration</h2>
    <form action="#" style="margin-bottom: 15px">
        <label for="select">Size</label>
        <input type="number" name="size" max="100" min="5" value="20"/>MB <br /><br />
        <label for="select" style="padding-top: 15px;"></label>
        <input type="radio" name="rr" id="randomReplacement" value="rr" checked> Random Replacement
        <input type="radio" name="lru" id="leastRecentlyUsed" value="lru"> Least Recently Used
    </form>
    <br />
    <button style="margin: 8px">clear</button> <br>
    <a href="/"><button style="margin: 8px" >Home Page </button></a>
    
</body>
</html>